
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
}
.holder{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.box{
	height:100px;
	width:100px;
	font-size:64px;
}
.r{
	background-color:red;
}
.g{
	background-color:green;
}
.b{
	background-color:blue;
}